
.footer {
    background-color: var(--background2);
    margin-top: 20px;
    color: white;
    text-align: center;
    align-items: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px;
}

.h4 {
    font-size: 40px;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    margin: auto;
}