@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --background2: #0B192C;
  --foreground2: #ff6500;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.foreground2{
  color: var(--foreground2);
}

h1, h2{
  text-align: center;
  font-size: 70px;
  margin: 30px;
}

h3{
  text-align: center;
  font-size: 50px;
  margin: 30px;
}

a {
  color: var(--foreground2);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.button {
  background-color: #1E3E62;
  color: #FFFFFF;
  border: none;
  border-radius: 25px;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #345b86;
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.footer {
  background-color: var(--background2);
  margin-top: 20px;
  color: white;
  text-align: center;
  align-items: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.footer div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 50px;
}

.h4 {
  font-size: 40px;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
  margin: auto;
}

.firstpage{
  padding: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

